@import "tailwindcss";

html {
    font-size: 14px;
}

@theme {
    --color-primary: #002935;
    --color-background: #E7FAFF;
    --text-1.5xl: 1.25rem;
    /* --default-font-family: 'Inter', sans-serif; */
}

.resume {
    width: 210mm;
    height: 297mm;
    margin: auto;
    /* padding: 6.5mm; */
    @apply p-8;
}

.timeline-element::before {
    content: '';
    position: absolute;
    left: -23px;
    top: 8px;
    width: 14px;
    height: 14px;
    background-color: white;
    border: black solid 1px;
    border-radius: 50%;
    z-index: 1;
}